* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

body {
    // background-color: #34a0a4;
    background-image: linear-gradient(45deg, rgba(254, 246, 210, 0.53) 0%, rgba(254, 246, 210, 0.53) 14.286%, rgba(221, 240, 216, 0.53) 14.286%, rgba(221, 240, 216, 0.53) 28.572%, rgba(188, 233, 223, 0.53) 28.572%, rgba(188, 233, 223, 0.53) 42.858%, rgba(156, 227, 229, 0.53) 42.858%, rgba(156, 227, 229, 0.53) 57.144%, rgba(123, 220, 235, 0.53) 57.144%, rgba(123, 220, 235, 0.53) 71.42999999999999%, rgba(90, 214, 242, 0.53) 71.43%, rgba(90, 214, 242, 0.53) 85.71600000000001%, rgba(57, 207, 248, 0.53) 85.716%, rgba(57, 207, 248, 0.53) 100.002%), linear-gradient(135deg, rgb(246, 99, 200) 0%, rgb(246, 99, 200) 12.5%, rgb(223, 98, 196) 12.5%, rgb(223, 98, 196) 25%, rgb(199, 97, 192) 25%, rgb(199, 97, 192) 37.5%, rgb(176, 96, 188) 37.5%, rgb(176, 96, 188) 50%, rgb(152, 95, 184) 50%, rgb(152, 95, 184) 62.5%, rgb(129, 94, 180) 62.5%, rgb(129, 94, 180) 75%, rgb(105, 93, 176) 75%, rgb(105, 93, 176) 87.5%, rgb(82, 92, 172) 87.5%, rgb(82, 92, 172) 100%);
}

.App {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagrindas {
    color: #fff;
    background: #184e77;
    position: absolute;
    top: 20%;
    padding: 1.5em 2.5em;
    border-radius: 1em;
    h1 {
        margin-bottom: 1em;
    }
    .todo-form {
        margin-bottom: 1.5em;
        display: flex;
        flex-direction: row;
        .todo-input {
            min-width: 200px;
            width: 80%;
            height: 45px;
            outline: none;
            padding-left: 1em;
            border: solid rgb(146, 149, 209);
            background: transparent;
            color: #fff;
            border-radius: 6px 0 0 6px;
        }
        .todo-input::placeholder {
            color: #e2e2e2;
        }
        .todo-button {
            width: 85px;
            white-space: nowrap;
            height: 45px;
            outline: none;
            border: none;
            border-radius: 0 6px 6px 0;
            color: #003049;
            background: linear-gradient(0.25turn, rgb(146, 149, 209), rgb(90, 146, 207));
            transition: 0.3s ease-in-out;
            &:hover {
                color: #e5e5e5;
                cursor: pointer;
                background: linear-gradient(0.25turn, rgb(146, 149, 209), rgb(90, 112, 207));
            }
        }
    }
    .todo-row {
        background: linear-gradient(0.25turn, rgb(146, 149, 209), rgb(97, 141, 209)); //2
        border-radius: 6px;
        margin-bottom: 10px;
        text-shadow: rgba(0, 0, 0, 0.4) 1px 0px 10px;
        font-weight: 800;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        transition: 0.3s ease-in-out;
        //anim
        animation-name: fadeIn;
        -webkit-animation-name: fadeIn;
        animation-duration: 1s;
        -webkit-animation-duration: 1s;
        animation-timing-function: ease-in-out;
        -webkit-animation-timing-function: ease-in-out;
        visibility: visible !important;
        //end
        @keyframes fadeIn {
            0% {
                transform: translateY(4em);
                opacity: 0.0;
            }
            60% {
                transform: scale(1.1);
            }
            80% {
                transform: scale(0.9);
                opacity: 1;
            }
            100% {
                transform: scale(1);
                opacity: 1;
            }
        }
        &.complete {
            text-decoration: line-through;
            opacity: 0.4;
        }
        .stulpelis {
            display: flex;
            flex-direction: column;
            width: 80%;
            padding: .7em 1em;
        }
        .icons {
            font-size: 1.7em;
            margin-right: .6em;
            display: flex;
            .edit-icon {
                margin-left: 10px;
                transition: 0.3s ease-in-out;
                &:hover {
                    color: rgba(255, 255, 255, 0.5);
                }
            }
            .delete-icon {
                transition: 0.3s ease-in-out;
                &:hover {
                    color: rgba(255, 255, 255, 0.5);
                }
            }
        }
        .todo-data {
            font-weight: 400;
            font-size: 0.9em;
            color: #e8eddf;
        }
        &:nth-child(4n + 1) {
            //3
            background: linear-gradient(0.25turn, rgb(90, 146, 207), rgb(72, 141, 204));
        }
        &:nth-child(4n + 2) {
            //4
            background: linear-gradient(0.25turn, rgb(61, 175, 175), rgb(45, 172, 200));
        }
        &:nth-child(4n + 3) {
            //1 ir 5
            // background: linear-gradient(0.25turn, #faa307, #f48c06);
            background: linear-gradient(0.25turn, rgb(187, 166, 213), rgb(223, 174, 208));
        }
        &:hover {
            transform: scale(1.05);
            cursor: pointer;
        }
    }
}