* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

body {
  background-image: linear-gradient(45deg, rgba(254, 246, 210, 0.53) 0%, rgba(254, 246, 210, 0.53) 14.286%, rgba(221, 240, 216, 0.53) 14.286%, rgba(221, 240, 216, 0.53) 28.572%, rgba(188, 233, 223, 0.53) 28.572%, rgba(188, 233, 223, 0.53) 42.858%, rgba(156, 227, 229, 0.53) 42.858%, rgba(156, 227, 229, 0.53) 57.144%, rgba(123, 220, 235, 0.53) 57.144%, rgba(123, 220, 235, 0.53) 71.43%, rgba(90, 214, 242, 0.53) 71.43%, rgba(90, 214, 242, 0.53) 85.716%, rgba(57, 207, 248, 0.53) 85.716%, rgba(57, 207, 248, 0.53) 100.002%), linear-gradient(135deg, #f663c8 0%, #f663c8 12.5%, #df62c4 12.5%, #df62c4 25%, #c761c0 25%, #c761c0 37.5%, #b060bc 37.5%, #b060bc 50%, #985fb8 50%, #985fb8 62.5%, #815eb4 62.5%, #815eb4 75%, #695db0 75%, #695db0 87.5%, #525cac 87.5%, #525cac 100%);
}

.App {
  position: relative;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagrindas {
  color: #fff;
  background: #184e77;
  position: absolute;
  top: 20%;
  padding: 1.5em 2.5em;
  border-radius: 1em;
}

.pagrindas h1 {
  margin-bottom: 1em;
  text-align: center;
}

.pagrindas .todo-form {
  margin-bottom: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.pagrindas .todo-form .todo-input {
  min-width: 200px;
  width: 80%;
  height: 45px;
  outline: none;
  padding-left: 1em;
  border: solid #9295d1;
  background: transparent;
  color: #fff;
  border-radius: 6px 0 0 6px;
  font-size: 1.2em;
}

.pagrindas .todo-form .todo-input::-webkit-input-placeholder {
  color: #e2e2e2;
  font-size: 1.1em;
}

.pagrindas .todo-form .todo-input:-ms-input-placeholder {
  color: #e2e2e2;
  font-size: 1.1em;
}

.pagrindas .todo-form .todo-input::-ms-input-placeholder {
  color: #e2e2e2;
  font-size: 1.1em;
}

.pagrindas .todo-form .todo-input::placeholder {
  color: #e2e2e2;
  font-size: 1.1em;
}

.pagrindas .todo-form .todo-button {
  width: 85px;
  white-space: nowrap;
  height: 45px;
  outline: none;
  border: none;
  border-radius: 0 6px 6px 0;
  color: #003049;
  background: -webkit-gradient(linear, left top, right top, from(#9295d1), to(#5a92cf));
  background: linear-gradient(0.25turn, #9295d1, #5a92cf);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.pagrindas .todo-form .todo-button:hover {
  color: #e5e5e5;
  cursor: pointer;
  background: -webkit-gradient(linear, left top, right top, from(#9295d1), to(#5a70cf));
  background: linear-gradient(0.25turn, #9295d1, #5a70cf);
}

.pagrindas .todo-row {
  background: -webkit-gradient(linear, left top, right top, from(#9295d1), to(#618dd1));
  background: linear-gradient(0.25turn, #9295d1, #618dd1);
  border-radius: 6px;
  margin-bottom: 10px;
  text-shadow: rgba(0, 0, 0, 0.4) 1px 0px 10px;
  font-weight: 800;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  animation-name: fadeIn;
  -webkit-animation-name: fadeIn;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  visibility: visible !important;
}

@-webkit-keyframes fadeIn {
  0% {
    -webkit-transform: translateY(4em);
            transform: translateY(4em);
    opacity: 0.0;
  }
  60% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  80% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    -webkit-transform: translateY(4em);
            transform: translateY(4em);
    opacity: 0.0;
  }
  60% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  80% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

.pagrindas .todo-row.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

.pagrindas .todo-row .stulpelis {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  padding: .7em 1em;
}

.pagrindas .todo-row .icons {
  font-size: 1.7em;
  margin-right: .6em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pagrindas .todo-row .icons .edit-icon {
  margin-left: 10px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.pagrindas .todo-row .icons .edit-icon:hover {
  color: rgba(255, 255, 255, 0.5);
}

.pagrindas .todo-row .icons .delete-icon {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.pagrindas .todo-row .icons .delete-icon:hover {
  color: rgba(255, 255, 255, 0.5);
}

.pagrindas .todo-row .todo-data {
  font-weight: 400;
  font-size: 0.9em;
  color: #e8eddf;
}

.pagrindas .todo-row:nth-child(4n + 1) {
  background: -webkit-gradient(linear, left top, right top, from(#5a92cf), to(#488dcc));
  background: linear-gradient(0.25turn, #5a92cf, #488dcc);
}

.pagrindas .todo-row:nth-child(4n + 2) {
  background: -webkit-gradient(linear, left top, right top, from(#3dafaf), to(#2dacc8));
  background: linear-gradient(0.25turn, #3dafaf, #2dacc8);
}

.pagrindas .todo-row:nth-child(4n + 3) {
  background: -webkit-gradient(linear, left top, right top, from(#bba6d5), to(#dfaed0));
  background: linear-gradient(0.25turn, #bba6d5, #dfaed0);
}

.pagrindas .todo-row:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .pagrindas {
    top: 5%;
    padding: 1.5em 1em;
    margin: 0 1em;
  }
}
/*# sourceMappingURL=app.css.map */