* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

body {
    background-color: #34a0a4;
}

.App {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagrindas {
    color: #fff;
    background: #184e77;
    position: absolute;
    top: 20%;
    padding: 1.5em 2.5em;
    border-radius: 1em;
    h1 {
        margin-bottom: 1em;
    }
    .todo-form {
        margin-bottom: 1.5em;
        display: flex;
        flex-direction: row;
        .todo-input {
            min-width: 200px;
            width: 80%;
            height: 45px;
            outline: none;
            padding-left: 1em;
            border: solid #52b69a;
            background: transparent;
            color: #fff;
            border-radius: 6px 0 0 6px;
        }
        .todo-input::placeholder {
            color: #e2e2e2;
        }
        .todo-button {
            width: 85px;
            white-space: nowrap;
            height: 45px;
            outline: none;
            border: none;
            // padding: 1.5em 0;
            border-radius: 0 6px 6px 0;
            color: #fff;
            background: linear-gradient(0.25turn, #52b69a, #168aad);
        }
    }
    .todo-row {
        background: red;
        padding: .5em 1em;
        border-radius: 6px;
        margin-bottom: 10px;
        .eilute {
            .icons {
                float: right;
            }
        }
    }
}